@use "../styles/common" as *;
@use "../styles/unstyled";

.underlayBg {
  @include component-token("drawer", "animation-duration", 150ms);
  @include component-token("drawer", "max-width", 608px);
  @include component-token("drawer", "height", 100svh);

  position: fixed;
  z-index: design-token("z-index.drawer");
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition-property: opacity, backdrop-filter;
  transition-timing-function: ease-in-out;
  transition-duration: component-token("drawer", "animation-duration");

  &::before {
    content: "";
    position: absolute;
    background: theme-token("color.primary.800");
    opacity: design-token("opacity.underlay");
  }
}

.underlayBg,
.underlayBg::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.underlayBgEnter {
  opacity: 0;
}

.underlayBgEnterDone {
  opacity: 1;
  backdrop-filter: blur(1px);
}

.underlayBgExit {
  opacity: 0;
  backdrop-filter: blur(0);
}

.underlayBox {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  pointer-events: none;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: component-token("drawer", "animation-duration");
}

.underlayBoxAppear {
  transform: translateX(25%);
}

.underlayBoxAppearDone {
  transform: translateX(0);
}

.underlayBoxExit {
  transform: translateX(25%);
}

.Drawer {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: auto;
  width: 100%;
  max-width: component-token("drawer", "max-width");
  height: component-token("drawer", "height");
  overflow: hidden;
  background: theme-token("color.neutral.000");
  box-shadow: design-token("shadow.level.3");
  pointer-events: auto;
  position: relative;
  outline: none;
}

.header {
  margin: 0;
  &.stuck {
    box-shadow: design-token("shadow.stuck-from-top");
  }
}

.banner {
  background: design-token("color.primary.700");
  color: design-token("color.neutral.000");
  padding: design-token("space.3") design-token("space.2");
}

.body {
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  overscroll-behavior: contain;

  :global([data-intercept]) {
    position: absolute;
    left: 0;
    width: 1px;
    height: 1px;
  }
  :global([data-intercept="header"]) {
    top: 0;
  }
}

.closeButton {
  @include unstyled.button;
  display: inline-flex;
  padding: design-token("space.0.25");
  margin: calc(#{design-token("space.0.25")} * -1);
  cursor: pointer;
}

.banneredContentArea {
  padding: design-token("space.3") design-token("space.2");
}

.standaloneContentArea {
  padding: design-token("space.3") design-token("space.4");
}
