@use "../styles/common" as *;

.separatorPrimary {
  @include component-token(
    "step",
    "color-separator",
    design-token("color.primary.800")
  );
}

.separatorInverse {
  @include component-token(
    "step",
    "color-separator",
    design-token("color.neutral.000")
  );
}

.separator {
  width: design-token("space.0");
  height: design-token("space.3");
  border-left-width: design-token("shape.border_width.1");
  border-left-style: solid;
  border-color: component-token("step", "color-separator");
  margin-left: calc(
    #{design-token("space.1")} - #{design-token("space.0.125")}
  );
}
