@use "../styles/common" as *;

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: design-token("space.1");
  color: component-token("spinner", "color");
}

.spinnerIntermediate {
  height: component-token("spinner", "size");
  width: component-token("spinner", "size");
  border: 2px solid;
  border-bottom-color: design-token("color.neutral.050");
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinnerProgress {
  height: component-token("spinner", "size");
  width: component-token("spinner", "size");
  border-radius: 50%;
  background: conic-gradient(
    component-token("spinner", "color") component-token("spinner", "degrees"),
    design-token("color.neutral.050") 0deg
  );
  mask-image: radial-gradient(
    circle at center,
    transparent calc((component-token("spinner", "size") - 4px) / 2),
    #fff calc((component-token("spinner", "size") - 3px) / 2)
  );
}
