@use "../styles/common" as *;

.ColorSlider {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.track {
  height: design-token("space.3");
  border-radius: design-token("shape.border_radius.md");
}

.thumb {
  top: 50%;
}
