@use "../styles/common" as *;

.ColorThumb {
  border: 2px solid design-token("color.neutral.000");
  box-shadow: design-token("shadow.level.2");
  width: design-token("space.2");
  height: design-token("space.2");
  border-radius: 50%;
  box-sizing: border-box;

  &[data-focus-visible] {
    width: design-token("space.3");
    height: design-token("space.3");
  }

  &[data-disabled] {
    opacity: 0.5;
  }
}
