@use "../styles/common" as *;

.ColorArea {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: design-token("shape.border_radius.md");
  flex-shrink: 0;

  &[data-disabled] {
    background: gray !important;
  }
}
