@use "../styles/common" as *;

.ColorPickerField {
  position: relative;
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
}

.input {
  width: 100%;
  display: flex;
  appearance: none;
  padding-left: calc(design-token("space.2") + 18px);
  padding-right: calc(design-token("space.2") + 24px);
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: design-token("space.2");
  pointer-events: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: design-token("space.1");
  cursor: pointer;

  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: design-token("space.1");
  outline: none;
  appearance: none;
  vertical-align: middle;
  font: var(--font-size) system-ui;
  color: var(--text-color);
  -webkit-tap-highlight-color: transparent;

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }
}

.swatch {
  width: 18px;
  height: 18px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
