@use "../styles/common" as *;

.ColorSlider {
  display: grid;
  grid-template-areas:
    "label output"
    "track track";
  grid-template-columns: 1fr auto;
  gap: design-token("space.0.5");

  width: 100%;
  max-width: 300px;
}

.track {
  grid-area: track;
  border-radius: var(--radius);
  height: design-token("space.3");
}

.thumb {
  top: 50%;
}
