@use "../styles/common" as *;

.popover {
  padding: design-token("space.2");
  display: flex;
  flex-direction: column;
  gap: design-token("space.1");
  min-width: 192px;
  max-height: inherit;
  overflow: auto;
}
