@use "../Button/mixins" as Button;
@import "../styles/common";

.DropdownButton {
  @include Button.base;
  @include font-style("button");
  gap: var(--ezui-space-1-5);
}

.colorPrimary {
  @include Button.colorPrimary;
}

.colorSecondary {
  @include Button.colorSecondary;
}

.colorSuccess {
  @include Button.colorSuccess;
}

.colorWarning {
  @include Button.colorWarning;
}

.colorNeutral {
  @include Button.colorNeutral;
}

.colorSupport {
  @include Button.colorSupport;
}

.colorInverse {
  @include Button.colorInverse;
}

.variantOutlined {
  @include Button.variantOutlined;
  padding: calc(#{var(--ezui-space-1-5)} - #{var(--ezui-shape-border-width-1)})
    calc(#{var(--ezui-space-2)} - #{var(--ezui-shape-border-width-1)});
}

.variantFilled {
  @include Button.variantFilled;
  padding: var(--ezui-space-1-5) var(--ezui-space-2);
}

.pipeSeparator {
  width: var(--ezui-space-0);
  height: var(--ezui-space-2);
  border-left-width: var(--ezui-shape-border-width-1);
  border-left-style: solid;
}
