@use "../styles/common" as *;

.VerticalStack {
  @include responsive-prop("vertical-stack", "gap", "gap");
  display: flex;
  flex-direction: component-token("vertical-stack", "order");
  align-items: component-token("vertical-stack", "inline-align");
  justify-content: component-token("vertical-stack", "align");
}

.listReset {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.fieldsetReset {
  border: none;
  margin: 0;
  padding: 0;
}
