@use "../styles/common" as *;

.root {
  @include component-token(
    "textfield",
    "border_radius",
    design-token("shape.border_radius.md")
  );
  @include component-token(
    "textfield",
    "box_shadow",
    design-token("shadow.input")
  );
  @include component-token(
    "textfield",
    "color.text.resting",
    theme-token("color.text")
  );
  @include component-token(
    "textfield",
    "color.text.gray.resting",
    theme-token("color.text.gray.resting")
  );
  @include component-token(
    "textfield",
    "color.text.disabled",
    theme-token("color.text.disabled")
  );
  @include component-token(
    "textfield",
    "color.text.engaged",
    theme-token("color.text.engaged")
  );
  @include component-token(
    "textfield",
    "color.text.danger",
    theme-token("color.text.danger")
  );
  @include component-token(
    "textfield",
    "color.border.resting",
    theme-token("color.border.resting")
  );
  @include component-token(
    "textfield",
    "color.border.engaged",
    theme-token("color.border.engaged")
  );
  @include component-token(
    "textfield",
    "color.border.danger",
    theme-token("color.border.danger")
  );
  @include component-token(
    "textfield",
    "color.background",
    theme-token("color.background")
  );
  @include component-token(
    "textfield",
    "color.background.disabled",
    theme-token("color.background.disabled.subtle")
  );
  @include component-token(
    "textfield",
    "z-index",
    design-token("z_index.input_icon")
  );
}

.inputLabelContainer {
  display: flex;
  flex-direction: column;
}

.inputIconContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  @include font-style("body1");
  color: component-token("textfield", "color.text.resting");
  background-color: component-token("textfield", "color.background");
  border: design-token("shape.border_width.1") solid
    component-token("textfield", "color.border.resting");
  border-radius: component-token("textfield", "border_radius");
  padding: calc(
    #{design-token("space.1.5")} - #{design-token("shape.border_width.1")}
  );
  outline: none;
  position: relative;
  width: 100%;

  &:focus,
  &:active {
    color: component-token("textfield", "color.text.engaged");
    border: design-token("shape.border_width.1") solid
      component-token("textfield", "color.border.engaged");
  }

  &:focus {
    box-shadow: component-token("textfield", "box_shadow");
  }

  &::placeholder {
    color: component-token("textfield", "color.text.gray.resting");
  }

  &:disabled {
    background-color: component-token("textfield", "color.background.disabled");
    color: component-token("textfield", "color.text.disabled");
  }
}

.errorInput {
  color: component-token("textfield", "color.text.danger");
  border-color: component-token("textfield", "color.border.danger");

  &:focus,
  &:active {
    border-color: component-token("textfield", "color.border.danger");
  }
}

.passwordInput {
  border-radius: component-token("textfield", "border_radius") 0 0
    component-token("textfield", "border_radius");
  border-right: none;
  padding-right: design-token("space.0.5");
  &:focus,
  &:active {
    padding-right: calc(
      #{design-token("space.0.5")} - #{design-token("shape.border_width.1")}
    );
    border-radius: component-token("textfield", "border_radius");
  }
}

.inputSizeSm {
  @include font-style("body2");
  padding: calc(
      #{design-token("space.1")} - #{design-token("shape.border_width.1")}
    )
    calc(#{design-token("space.1.5")} - #{design-token("shape.border_width.1")});
}

.inputSizeLg {
  padding: calc(
    #{design-token("space.2")} - #{design-token("shape.border_width.1")}
  );
}

.passwordBtn {
  background-color: component-token("textfield", "color.background");
  color: component-token("textfield", "color.text.gray.resting");
  border-radius: 0 component-token("textfield", "border_radius")
    component-token("textfield", "border_radius") 0;
  border: design-token("shape.border_width.1") solid
    component-token("textfield", "color.border.resting");
  border-left: none;
  margin: 0;
  padding: calc(
    #{design-token("space.1.5")} - #{design-token("shape.border_width.1")}
  );
  padding-left: design-token("space.1.5");

  &:focus,
  &:active {
    border: design-token("shape.border_width.1") solid
      component-token("textfield", "color.border.engaged");
    padding-left: calc(
      #{design-token("space.1.5")} - #{design-token("shape.border_width.1")}
    );
    border-radius: component-token("textfield", "border_radius");
  }

  &:focus {
    box-shadow: component-token("textfield", "box_shadow");
    outline: none;
    z-index: component-token("textfield", "z-index");
  }

  &:disabled {
    background-color: component-token("textfield", "color.background.disabled");
  }
}

.passwordBtnError {
  border-color: component-token("textfield", "color.border.danger");
  &:focus,
  &:active {
    border-color: component-token("textfield", "color.border.danger");
  }
}

.btnSizeSm {
  padding-top: calc(
    #{design-token("space.1")} - #{design-token("shape.border_width.1")}
  );
  padding-bottom: calc(
    #{design-token("space.1")} - #{design-token("shape.border_width.1")}
  );
}

.btnSizeLg {
  padding-top: calc(
    #{design-token("space.2")} - #{design-token("shape.border_width.1")}
  );
  padding-bottom: calc(
    #{design-token("space.2")} - #{design-token("shape.border_width.1")}
  );
}

.icon {
  background-color: component-token("textfield", "color.background");
  color: component-token("textfield", "color.text.gray.resting");
  border: 0;
  display: inline-block;
  position: absolute;
  top: design-token("space.1.5");
  z-index: component-token("textfield", "z-index");
}

.iconDisabled {
  background-color: component-token("textfield", "color.background.disabled");
}

.iconStart {
  left: design-token("space.1.5");
}

.iconEnd {
  right: design-token("space.1.5");
}

.iconStartInput {
  padding-left: design-token("space.6");
}

.iconEndInput {
  padding-right: design-token("space.6");
}

.iconSizeSm {
  top: design-token("space.1");
}

.iconSizeLg {
  top: design-token("space.2");
}

.iconStartInput.inputSizeSm {
  padding-left: design-token("space.4.5");
}

.iconEndInput.inputSizeSm {
  padding-right: design-token("space.4.5");
}

.label {
  margin-bottom: design-token("space.1");
}

.labelHidden {
  margin-bottom: 0;
}

.caption {
  margin-top: design-token("space.0.5");
}
