@use "../styles/common" as *;

.condensed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include breakpoint-md-up {
    display: none;
  }
}

.btn {
  @include component-token(
    "condensed-search-nav",
    "menu-color",
    theme-token("color.neutral.900")
  );
  @include component-token(
    "condensed-search-nav",
    "menu-open-color",
    theme-token("color.primary.500")
  );
  @include component-token(
    "condensed-search-nav",
    "search-color",
    theme-token("color.primary.800")
  );
}

.menuBtn {
  color: component-token("condensed-search-nav", "menu-color");
}

.menuOpen {
  color: component-token("condensed-search-nav", "menu-open-color");
}

.searchBtn {
  color: component-token("condensed-search-nav", "search-color");
}

.condensedSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: design-token("space.1");
}
