@use "../styles/common" as *;
@use "../styles/unstyled";

.triggerBtn {
  @include component-token(
    "selector-trigger",
    "color",
    theme-token("color.selector")
  );
  @include unstyled.button;
  @include font-style("subtitle1");
  display: flex;
  align-items: center;
  cursor: pointer;
}

.text {
  color: component-token("selector-trigger", "color");
}
