@use "../styles/common" as *;

.triggerBtn {
  @include component-token(
    "selector-trigger",
    "color",
    design-token("color.positive.600")
  );
  @include font-style("subtitle1");
  display: flex;
  align-items: center;
  cursor: pointer;
}

.text {
  color: component-token("selector-trigger", "color");
}
