@use "../styles/common" as *;

.separator {
  @include component-token(
    "separator",
    "separator-logo",
    theme-token("color.neutral.500")
  );
  @include component-token(
    "separator",
    "separator-cta",
    theme-token("color.primary.800")
  );
  width: design-token("space.0");
  height: design-token("space.3");
  border-left-width: design-token("shape.border_width.1");
  border-left-style: solid;
  margin: 0 design-token("space.2");
}

.groupLogo {
  border-color: component-token("separator", "separator-logo");
}

.groupCta {
  border-color: component-token("separator", "separator-cta");
}
