@use "../styles/common" as *;
@use "../styles/unstyled";
@use "./gallery";

.tile {
  @include unstyled.button;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: design-token("space.1");
  padding: design-token("space.1.5") design-token("space.1");
  color: design-token("color.neutral.800");
  @include gallery.card;
}
