@use "../styles/common" as *;
@use "mixins" as Menu;

.underlay {
  position: fixed;
  inset: 0;
}

.root {
  @include Menu.root;
}

.menu {
  @include Menu.menu;
}

.menuList,
.sectionList {
  @include Menu.menuList;
}

.sectionTitle {
  @include font-style("subtitle1");
  color: theme-token("color.primary.900");
  padding: 0 component-token("menu", "padding.x");
}

.itemContent,
.separator {
  @include Menu.itemContent;
}

.item {
  text-decoration: none;
}

.itemContent {
  @include Menu.itemContentColor;
}

.menu,
.item {
  outline: none;
}

.item:not([data-is-disabled="true"]) {
  cursor: pointer;
}

.item[data-is-focused="true"] .itemContent {
  @include Menu.itemDataFocused;
}

.item[data-is-disabled="true"] .itemContent {
  @include Menu.itemDataDisabled;
}

.separator::after {
  @include Menu.separator;
}
