@use "../styles/common" as *;
@use "../styles/unstyled";

.TabNav {
  @include component-token("tab-nav", "selected-tab-width", 0);
  @include component-token("tab-nav", "selected-tab-left", 0);

  padding: design-token("space.1") design-token("space.2");
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid hsla(219, 32%, 91%, 1);
}

.list {
  @include unstyled.list;
  position: relative;
  display: flex;
  align-items: center;
  gap: design-token("space.4");
}

.line {
  position: absolute;
  left: 0;
  height: 1px;
  bottom: -9px;

  transform: translateX(#{component-token("tab-nav", "selected-tab-left")});
  width: component-token("tab-nav", "selected-tab-width");

  background: hsla(226, 100%, 54%, 1);

  transition-property: transform, width;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
