@use "../styles/common" as *;
@use "../styles/unstyled";

.TabNav {
  @include component-token("tab-nav", "selected-tab-width", 0);
  @include component-token("tab-nav", "selected-tab-left", 0);

  padding: design-token("space.1") design-token("space.2");
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid hsla(219, 32%, 91%, 1);
}

.list {
  position: relative;
  @include unstyled.list;
  display: flex;
  align-items: center;
  gap: design-token("space.4");
}

.line {
  transition: all 0.2s ease-in-out;
  position: absolute;
  height: 1px;
  background: hsla(226, 100%, 54%, 1);
  bottom: -9px;
  left: 0;
  transform: translateX(#{component-token("tab-nav", "selected-tab-left")});
  width: component-token("tab-nav", "selected-tab-width");
}

.TabNavLink {
  @include unstyled.button;
  display: inline-flex;
  padding: 0 design-token("space.0.5");
  margin: 0 -4px -1px -4px;
  color: hsla(227, 83%, 14%, 1);
  cursor: pointer;
  text-decoration: none;
}

.hovered {
  color: hsla(226, 84%, 27%, 1);
}

.selected {
  color: hsla(226, 100%, 54%, 1);
}
