@use "../styles/common" as *;

.Edge {
  position: absolute;
  top: 0;
  bottom: 0;
  width: design-token("space.0.5");
  background: component-token("tab-nav", "background-color");
  opacity: 0;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: component-token("tab-nav", "edge-shadow-opacity");
  }
}

.sideLeft {
  left: 0;
  &::before {
    box-shadow: component-token("tab-nav", "edge-shadow-left");
  }
}

.sideRight {
  right: 0;
  &::before {
    box-shadow: component-token("tab-nav", "edge-shadow-right");
  }
}

.activated {
  opacity: 1;
}
