@use "../styles/common" as *;

.Switch {
  @include component-token(
    "switch",
    "color.track",
    design-token("color.neutral.100")
  );
  @include component-token(
    "switch",
    "color.thumb",
    design-token("color.primary.800")
  );
  @include component-token("switch", "border_radius", 99px);

  display: inline-flex;
  border-radius: component-token("switch", "border_radius");
}

.focusVisible {
  @include native-focus-ring;
}

.track {
  fill: component-token("switch", "color.track");
}

.thumb {
  fill: component-token("switch", "color.thumb");
}

.hovered:not(.disabled) {
  @include component-token(
    "switch",
    "color.track",
    design-token("color.neutral.200")
  );
}

.selected {
  @include component-token(
    "switch",
    "color.thumb",
    design-token("color.neutral.000")
  );
}

.disabled {
  @include component-token(
    "switch",
    "color.track",
    design-token("color.neutral.050")
  );
  @include component-token(
    "switch",
    "color.thumb",
    design-token("color.neutral.300")
  );
}

// Primary Variants
.variantPrimary.selected:not(.disabled) {
  @include component-token(
    "switch",
    "color.track",
    design-token("color.primary.500")
  );
}

.variantPrimary.selected.hovered:not(.disabled) {
  @include component-token(
    "switch",
    "color.track",
    design-token("color.primary.600")
  );
}

// Success Variants
.variantSuccess.selected:not(.disabled) {
  @include component-token(
    "switch",
    "color.track",
    design-token("color.positive.600")
  );
}

.variantSuccess.selected.hovered:not(.disabled) {
  @include component-token(
    "switch",
    "color.track",
    design-token("color.positive.700")
  );
}

// Danger Variants
.variantDanger.selected:not(.disabled) {
  @include component-token(
    "switch",
    "color.track",
    design-token("color.negative.600")
  );
}

.variantDanger.selected.hovered:not(.disabled) {
  @include component-token(
    "switch",
    "color.track",
    design-token("color.negative.700")
  );
}
