@use "../styles/common" as *;

.Switch {
  @include component-token(
    "switch",
    "color.track",
    design-token("color.neutral.100")
  );
  @include component-token(
    "switch",
    "color.thumb",
    design-token("color.primary.800")
  );
  @include component-token("switch", "border_radius", 99px);

  display: inline-flex;
  border-radius: component-token("switch", "border_radius");
}

.focusVisible {
  @include native-focus-ring;
}

.track {
  fill: component-token("switch", "color.track");
}

.thumb {
  fill: component-token("switch", "color.thumb");
}

.hovered:not(.disabled) {
  @include component-token(
    "switch",
    "color.track",
    design-token("color.neutral.200")
  );
}

.selected {
  @include component-token(
    "switch",
    "color.track",
    design-token("color.primary.500")
  );
  @include component-token(
    "switch",
    "color.thumb",
    design-token("color.neutral.000")
  );
}

.selected.hovered:not(.disabled) {
  @include component-token(
    "switch",
    "color.track",
    design-token("color.primary.600")
  );
}

.disabled {
  @include component-token(
    "switch",
    "color.track",
    design-token("color.neutral.050")
  );
  @include component-token(
    "switch",
    "color.thumb",
    design-token("color.neutral.300")
  );
}
