@use "../styles/common" as *;

.Toggle {
  display: inline-flex;
  align-items: center;
  gap: design-token("space.1.5");
}

.standalone {
  position: relative;
  z-index: 0;
}

.text {
  display: inline-flex;
}

.input {
  display: inline-flex;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
