@use "../styles/common" as *;

.Toggle {
  @include overlay-input;

  /* stylelint-disable-next-line no-duplicate-selectors */
  & {
    display: inline-flex;
    align-items: center;
    gap: design-token("space.1.5");
  }
}

.text,
.input {
  display: inline-flex;
}
