@use "../styles/common" as *;

.Toggle {
  display: inline-flex;
  align-items: center;
  gap: design-token("space.1.5");
}

.standalone {
  position: relative;
  z-index: 0;
  gap: normal;
}

.text {
  display: inline-flex;
}

.input {
  display: inline-flex;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.switch {
  display: inline-flex;
  border-radius: 999px;
  .focusVisible & {
    @include native-focus-ring;
  }
}

.track {
  fill: design-token("color.gray.100");
  .selected & {
    fill: design-token("color.blue.500");
  }
  .disabled & {
    fill: design-token("color.gray.050");
  }
}

.thumb {
  fill: design-token("color.blue.800");
  .selected & {
    fill: design-token("color.white");
  }
  .disabled & {
    fill: design-token("color.gray.200");
  }
}
