@use "../styles/common" as *;
@use "../styles/unstyled";

.Header {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: design-token("space.3");
}

.logoRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.titleBoxWithArrow {
  display: inline-flex;
  align-items: center;
  gap: design-token("space.1");

  a,
  button {
    @include unstyled.button;
    @include unstyled.link;
  }
}
