@use "../styles/common" as *;

.CalendarHeader {
  @include component-token("calendar-header", "padding", 6px);
  @include component-token("calendar-header", "line-height", 19.5px);
  width: 100%;
  background-color: design-token("color.primary.800");
  border-top-left-radius: design-token("shape.border_radius.lg");
  border-top-right-radius: design-token("shape.border_radius.lg");
  padding: component-token("calendar-header", "padding");
  span {
    line-height: component-token("calendar-header", "line-height");
  }
}
