@use "../styles/common" as *;
@use "../styles/unstyled";

.button {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: design-token("color.blue.800");
}

.arrow {
  display: inline-flex;
  margin: -4px;
}
