@use "../styles/common" as *;
@use "../styles/unstyled";
@use "mixins" as ProductLayout;

.ProductLayoutSidebar {
  position: absolute;
  background: design-token("color.gray.000");
  width: component-token("product-shell", "sidebar-width");
  height: calc(100svh - #{design-token("space.10")});
  top: design-token("space.7");
  left: design-token("space.2");
  order: 2;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  outline: none;
  border-radius: design-token("space.0.5");
  box-shadow: design-token("shadow.overlay");

  @include ProductLayout.breakpoint-large-screen {
    position: sticky;
    top: 0;
    left: 0;
    order: 1;
    height: 100vh;
    border-radius: 0;
    box-shadow: none;
    z-index: auto;
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }
}

.open {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.overlay {
  position: absolute;
  z-index: design-token("z-index.modal");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &::before {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: theme-token("color.background.underlay");
    opacity: 0.1;
  }
}
