@use "../styles/common" as *;
@use "../styles/unstyled";
@use "mixins" as ProductLayout;

.ProductLayout {
  @include component-token("product-shell", "sidebar-width", 216px);
  display: flex;
  position: relative;
}

.body {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: design-token("space.2");
  gap: design-token("space.2");
  width: 100%;
  order: 1;
  z-index: 1;
  min-height: 100svh;

  @include ProductLayout.breakpoint-large-screen {
    width: calc(100% - #{component-token("product-shell", "sidebar-width")});
    order: 2;
    z-index: auto;
    padding: design-token("space.3");
    gap: design-token("space.3");
  }
}
