@use "../styles/common" as *;
@use "../styles/unstyled";
@use "mixins" as ProductLayout;

.divider {
  width: 1px;
  background: design-token("color.gray.400");
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: design-token("space.2");
}

.actionStretched {
  align-self: stretch;
}

.action {
  display: inline-flex;
}

.actionShownOnMobile {
  display: inline-flex;
}

.ProductLayoutHeaderDesktop {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.ProductLayoutHeaderMobile {
  display: flex;
  flex-direction: column;
  gap: design-token("space.1.5");
}

.mobileTopBar {
  display: flex;
  align-items: center;
}

.mobileLogoMenu {
  display: inline-flex;
  align-items: center;
  gap: design-token("space.1.5");
}

.mobileLogoMenuBtn {
  @include unstyled.button;
}
