@use "../styles/common" as *;
@use "../styles/unstyled";
@use "mixins" as ProductLayout;

.ProductLayoutTabbedContent {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: design-token("space.2");
  padding-top: design-token("space.1.5");
  margin: 0 calc(#{design-token("space.2")} * -1);
  margin-bottom: calc(#{design-token("space.2")} * -1);
  background: design-token("color.gray.000");

  @include ProductLayout.breakpoint-large-screen {
    margin: 0;
    margin-bottom: calc(#{design-token("space.3")} * -1);
    padding: design-token("space.3");
    padding-top: design-token("space.1.5");

    border-radius: design-token("shape.border_radius.md");
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
