@use "../styles/common" as *;
@use "../styles/unstyled";
@use "mixins" as ProductLayout;

.largeScreen {
  display: none;
  @include ProductLayout.breakpoint-layout-up {
    display: block;
  }
}

.smallScreen {
  display: block;
  @include ProductLayout.breakpoint-layout-up {
    display: none;
  }
}
