@use "../styles/common" as *;

.RadioGroupItem {
  @include component-token("radio-group-item", "size", 16px);
  @include component-token(
    "radio-group-item",
    "color",
    design-token("color.neutral.500")
  );
  display: inline-flex;
}

.label {
  display: inline-flex;
  @include overlay-input;
}

.radioOuter,
.radioInner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.radioOuter {
  margin-top: 4px;
  flex: 0 0 auto;
  width: component-token("radio-group-item", "size");
  height: component-token("radio-group-item", "size");
  border: design-token("shape.border_width.1") solid
    component-token("radio-group-item", "color");

  .focusVisible & {
    // without an offset the outline conflicts with the radio outline
    outline-offset: 1px;
    @include native-focus-ring;
  }
}

.radioInner {
  width: calc(#{component-token("radio-group-item", "size")} * (12 / 16));
  height: calc(#{component-token("radio-group-item", "size")} * (12 / 16));
  background: component-token("radio-group-item", "color");
  opacity: 0;

  .selected & {
    opacity: 1;
  }
}

.invalid {
  @include component-token(
    "radio-group-item",
    "color",
    design-token("color.negative.500")
  );
}

.disabled {
  @include component-token(
    "radio-group-item",
    "color",
    design-token("color.neutral.200")
  );
}

.selected:not(.invalid) {
  @include component-token(
    "radio-group-item",
    "color",
    design-token("color.primary.500")
  );
}

.selected.disabled {
  @include component-token(
    "radio-group-item",
    "color",
    design-token("color.neutral.400")
  );
}

.hovered:not(.disabled):not(.readOnly) {
  @include component-token(
    "radio-group-item",
    "color",
    design-token("color.primary.400")
  );
}

.invalid.hovered:not(.disabled):not(.readOnly) {
  @include component-token(
    "radio-group-item",
    "color",
    design-token("color.negative.600")
  );
}
