@import "../styles/common";

.Placeholder {
  display: flex;
  gap: var(--ezui-space-2);
  padding: var(--ezui-space-3);
  border-radius: var(--ezui-shape-border-radius-base);
  background-color: var(--ezui-color-purple-100);

  &.statusSuccess {
    background-color: var(--ezui-color-green-100);
  }

  &.statusWarning {
    background-color: var(--ezui-color-yellow-300);
  }

  &.statusCritical {
    background-color: var(--ezui-color-red-100);
  }
}

.PlaceholderMessage {
  & > p:first-child {
    margin-top: 0;
  }
  & > p:last-child {
    margin-bottom: 0;
  }
}

.PlaceholderIcon {
  @include responsive-props("placeholder-icon", "size") using ($var) {
    width: $var;
    height: $var;
  }
  display: inline-flex;
  svg {
    display: block;
    width: 100%;
    height: auto;
  }
}
