@use "../styles/common" as *;
@use "../styles/unstyled";

.SubnavItem {
  display: flex;
  flex-direction: column;
  gap: design-token("space.1");
}

.link {
  @include unstyled.button;
  @include unstyled.link;

  position: relative;
  display: flex;

  color: design-token("color.primary.800");
  cursor: pointer;
}

.hovered > .link {
  color: design-token("color.primary.600");
}

.selected:has(.selected) > .link {
  font-weight: design-token("font.weight.medium");
  color: design-token("color.primary.700");
}

.selected:not(:has(.selected)) > .link {
  font-weight: design-token("font.weight.normal");
  color: design-token("color.primary.500");
}
