@use "../styles/common" as *;
@use "../styles/unstyled";

.SupplementaryAction {
  @include unstyled.button;
  @include unstyled.link;

  display: inline-flex;
  align-items: center;
  gap: design-token("space.0.5");
  cursor: pointer;
}
