@use "../styles/common" as *;

.VerticalNav {
  display: flex;
  flex-direction: column;
  gap: 16px;

  height: 100%;
  padding: 24px;
  padding-top: 16px;
  overflow: auto;
}

.logo {
  width: 100%;
  max-width: 165px;

  svg,
  img {
    width: 100%;
    height: auto;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: design-token("color.blue.700");
}

.navItemSelected {
  color: design-token("color.blue.500");
}

.navItemLabelRow {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.subnav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subnavItem {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: design-token("color.blue.800");
}

.subnavItemList {
  margin-bottom: 8px;
}

.subnavItemDot {
  position: absolute;
  top: 6px;
  right: calc(100% + 8px);
  width: 4px;
  height: 4px;
  background-color: currentColor;
  border-radius: 100%;
  opacity: 0;
}

.subnavItemDotVisible {
  opacity: 1;
}

.subnavItemSelected {
}

.subnavItemSelectedFirstLevel {
  color: design-token("color.blue.700");
}

.subnavItemSelectedNextLevel {
  color: design-token("color.blue.500");
}

.firstLevel {
  padding-left: 32px;
}

.nextLevel {
  padding-left: 12px;
}
