@use "../styles/common" as *;
@use "../styles/unstyled";

.VerticalNav {
  display: flex;
  flex-direction: column;
  gap: 16px;

  height: 100%;
  padding: 24px;
  padding-top: 16px;
  overflow: auto;
}

.banner {
  margin-top: -16px;
}

.logo {
  width: 100%;
  max-width: 165px;

  svg,
  img {
    width: 100%;
    height: auto;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: design-token("color.blue.700");
}

.navItemHovered {
  color: design-token("color.gray.900");
}

.navItemTreeSelected {
  color: design-token("color.blue.600");
}

.navItemListSelected {
  color: design-token("color.blue.500");
}

.navItemExpandBtn {
  cursor: pointer;
}

.navItemExpanded .navItemExpandBtn {
  transform: rotate(90deg);
}

.navItemLabelWrap {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.navItemLabel {
  @include unstyled.button;
  @include unstyled.link;

  display: flex;
  flex-direction: row;
  gap: 8px;

  color: inherit;
  cursor: pointer;
}

.subnav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 32px;
}

.subnav .subnav {
  padding-left: 12px;
}

.subnavItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subnavItemLink {
  @include unstyled.button;
  @include unstyled.link;

  position: relative;
  display: flex;

  color: design-token("color.blue.800");
  cursor: pointer;
}

.subnavItemList {
  margin-bottom: 8px;
}

.subnavItemDot {
  position: absolute;
  top: 6px;
  right: calc(100% + 8px);
  width: 4px;
  height: 4px;
  background-color: currentColor;
  border-radius: 100%;
  opacity: 0;
}

.subnavItemDotCozy {
  right: calc(100% + 4px);
}

.subnavItemDotVisible {
  opacity: 1;
}

.subnavItemSelected:has(.subnavItemSelected) > .subnavItemLink {
  font-weight: 500;
  color: design-token("color.blue.700");
}

.subnavItemSelected:not(:has(.subnavItemSelected)) > .subnavItemLink {
  font-weight: 400;
  color: design-token("color.blue.500");
}
