@use "../styles/common" as *;

.Checkbox {
  @include component-token("checkbox", "size", 16px);
  @include component-token("checkbox", "box-margin-top", 4px);
  @include component-token("checkbox", "text-margin-ver", 0);
  @include component-token(
    "checkbox",
    "border-radius",
    design-token("shape.border_radius.sm")
  );
  @include component-token("checkbox", "gap", design-token("space.1"));
  @include component-token(
    "checkbox",
    "color.check",
    theme-token("color.neutral.000")
  );
  @include component-token("checkbox", "color.background", transparent);
  @include component-token(
    "checkbox",
    "color.border",
    theme-token("color.neutral.500")
  );
}

.Checkbox,
.label {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: component-token("checkbox", "gap");
}

.label {
  @include overlay-input;
}

.box,
.check {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: component-token("checkbox", "size");
  height: component-token("checkbox", "size");
}

.box {
  background: component-token("checkbox", "color.background");
  border: design-token("shape.border_width.1") solid
    component-token("checkbox", "color.border");
  border-radius: component-token("checkbox", "border-radius");
  flex: 0 0 auto;
  margin-top: component-token("checkbox", "box-margin-top");

  .focusVisible & {
    @include native-focus-ring;
  }
}

.check {
  color: component-token("checkbox", "color.check");
}

.text {
  display: inline-flex;
  margin: component-token("checkbox", "text-margin-ver") 0;
}

.indeterminateSvg {
  position: absolute;
}

.nested {
  @include component-token("checkbox", "text-margin-ver", 4px);
}

.sizeLg {
  @include component-token("checkbox", "size", 24px);
  @include component-token("checkbox", "gap", design-token("space.1.5"));
}

.standalone,
.sizeLg {
  @include component-token("checkbox", "box-margin-top", 0);
}

.invalid {
  @include component-token(
    "checkbox",
    "color.border",
    theme-token("color.negative.500")
  );
}

.disabled {
  @include component-token(
    "checkbox",
    "color.border",
    theme-token("color.neutral.200")
  );
}

.indeterminate:not(.invalid),
.selected:not(.invalid) {
  @include component-token(
    "checkbox",
    "color.background",
    theme-token("color.primary.500")
  );
  @include component-token(
    "checkbox",
    "color.border",
    theme-token("color.primary.500")
  );
}

.indeterminate.invalid,
.selected.invalid {
  @include component-token(
    "checkbox",
    "color.background",
    theme-token("color.negative.500")
  );
}

.indeterminate.disabled,
.selected.disabled {
  @include component-token(
    "checkbox",
    "color.border",
    theme-token("color.neutral.400")
  );
  @include component-token(
    "checkbox",
    "color.background",
    theme-token("color.neutral.400")
  );
}

.hovered:not(.disabled):not(.readOnly) {
  @include component-token(
    "checkbox",
    "color.border",
    theme-token("color.primary.400")
  );
}

.indeterminate.hovered:not(.disabled):not(.readOnly):not(.invalid),
.selected.hovered:not(.disabled):not(.readOnly):not(.invalid) {
  @include component-token(
    "checkbox",
    "color.background",
    theme-token("color.primary.400")
  );
}

.invalid.hovered:not(.disabled):not(.readOnly) {
  @include component-token(
    "checkbox",
    "color.border",
    theme-token("color.negative.600")
  );
}

.indeterminate.invalid.hovered:not(.disabled):not(.readOnly),
.selected.invalid.hovered:not(.disabled):not(.readOnly) {
  @include component-token(
    "checkbox",
    "color.background",
    theme-token("color.negative.600")
  );
}
