/// Used to hide an element visually, but keeping it accessible for
/// accessibility tools.

/// styles referenced from GOV.UK design system
/// https://github.com/h5bp/main.css/issues/12#issuecomment-451965809
@mixin visually-hidden {
  position: absolute !important;
  top: 0;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

/// Used to overlay a hidden input on top of a custom-styled control so that
/// the input will receive user events while only showing the custom control.
@mixin overlay-input {
  position: relative;
  z-index: 0;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
  }
}

@mixin native-focus-ring {
  outline-width: 2px;
  outline-style: solid;
  outline-color: Highlight;

  @media (-webkit-min-device-pixel-ratio: 0) {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
  }
}
