@use "overlayscrollbars/overlayscrollbars.css";
@use "token-helpers";

@mixin default-os-style {
  --os-track-bg: #{token-helpers.theme-token("color.neutral.050")};
  --os-track-bg-hover: #{token-helpers.theme-token("color.neutral.100")};
  --os-track-bg-active: #{token-helpers.theme-token("color.neutral.100")};
  --os-handle-bg: #{token-helpers.theme-token("color.neutral.300")};
  --os-handle-bg-hover: #{token-helpers.theme-token("color.neutral.400")};
  --os-handle-bg-active: #{token-helpers.theme-token("color.neutral.500")};
  --os-track-border-radius: 999px;
  --os-handle-border-radius: 999px;

  // there's a bug in Firefox with overlay elements rendering below the
  // scrollbar due to `contain` rasterizing this slice of the screen
  contain: unset;
}

.os-scrollbar.ezui-os-theme-overlay {
  @include default-os-style;
  --ezui-scrollbar-width: 2px;
  --os-size: calc(
    (#{token-helpers.design-token("space.1")} * 2) + var(--ezui-scrollbar-width)
  );
  --os-padding-perpendicular: #{token-helpers.design-token("space.1")};
  --os-padding-axis: #{token-helpers.design-token("space.1")};
}

.os-scrollbar.ezui-os-theme-code-block {
  @include default-os-style;
  --os-size: 4px;
  --os-padding-perpendicular: 0;
  --os-padding-axis: 0;
}

.os-scrollbar.ezui-os-theme-modal {
  @include default-os-style;
  --os-handle-bg: #{token-helpers.theme-token("color.neutral.200")};
  --os-size: #{token-helpers.design-token("space.1")};
  --os-padding-perpendicular: 0;
  --os-padding-axis: #{token-helpers.design-token("space.1")};
  right: #{token-helpers.design-token("space.0.5")};
}

.os-scrollbar.ezui-os-theme-drawer {
  @include default-os-style;
  --os-handle-bg: #{token-helpers.theme-token("color.neutral.200")};
  --os-size: #{token-helpers.design-token("space.1")};
  --os-padding-perpendicular: 0;
  --os-padding-axis: #{token-helpers.design-token("space.1")};
  right: #{token-helpers.design-token("space.0.5")};
}
