@use "../styles/common" as *;
@use "../Menu/mixins" as Menu;

.popover {
  @include Menu.tokens;

  display: flex;
  flex-direction: column;
  max-width: none;

  background: component-token("menu", "color.background");
  border: design-token("shape.border_width.1") solid
    component-token("menu", "color.border");
  border-radius: component-token("menu", "border_radius");
  box-shadow: component-token("menu", "shadow");
}

.menu {
  overflow: auto;
  padding: component-token("menu", "padding.y") 0;
}

.option,
.listEmptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: component-token("menu", "item_height");
  padding: 0 component-token("menu", "padding.x");
}

.option {
  position: relative;
  cursor: pointer;

  &[data-hovered],
  &[data-focused] {
    background: component-token("menu", "color.background.hovered");
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: default;
  }
}

.listEmptyState {
  align-items: center;
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: component-token("menu", "padding.y") 0;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: component-token("menu", "item_height");
  padding: 0 component-token("menu", "padding.x");
}
