@use "../styles/common" as *;

.root {
  @include font-style("small-button");
  border-radius: design-token("shape.border_radius.lg");
  display: inline-flex;
  // Ensures the background colors do not bleed out of the border radius edges
  overflow: hidden;
}

.block {
  display: flex;
}

.primary,
.secondary {
  display: inline-flex;
  padding: design-token("space.0.5");
}

.primary {
  background: component-token("badge", "primary.color.background");
  color: component-token("badge", "primary.color.text");
}

.secondary {
  background: component-token("badge", "secondary.color.background");
  color: component-token("badge", "secondary.color.text");
}

.block:not(.hasSecondary) .primary,
.block.hasSecondary .secondary {
  flex: 1;
  justify-content: center;
}

// Wrapper element around the text to normalize the hor and ver padding
.text {
  display: inline-flex;
  padding: design-token("space.0.25") design-token("space.0.5");
}

// prettier-ignore
.variantPrimary {
  @include component-token("badge", "primary.color.background", design-token("color.primary.600"));
  @include component-token("badge", "primary.color.text", design-token("color.neutral.000"));
  @include component-token("badge", "secondary.color.background", design-token("color.primary.100"));
  @include component-token("badge", "secondary.color.text", design-token("color.primary.800"));
}

// prettier-ignore
.variantSecondary {
  @include component-token("badge", "primary.color.background", design-token("color.secondary.600"));
  @include component-token("badge", "primary.color.text", design-token("color.neutral.000"));
  @include component-token("badge", "secondary.color.background", design-token("color.secondary.100"));
  @include component-token("badge", "secondary.color.text", design-token("color.primary.800"));
}

// prettier-ignore
.variantBlack {
  @include component-token("badge", "primary.color.background", design-token("color.neutral.800"));
  @include component-token("badge", "primary.color.text", design-token("color.neutral.000"));
  @include component-token("badge", "secondary.color.background", design-token("color.neutral.050"));
  @include component-token("badge", "secondary.color.text", design-token("color.primary.800"));
}

// prettier-ignore
.variantInverse {
  @include component-token("badge", "primary.color.background", design-token("color.neutral.100"));
  @include component-token("badge", "primary.color.text", design-token("color.neutral.900"));
  @include component-token("badge", "secondary.color.background", design-token("color.neutral.050"));
  @include component-token("badge", "secondary.color.text", design-token("color.primary.800"));
}

// prettier-ignore
.variantGray {
  @include component-token("badge", "primary.color.background", design-token("color.neutral.600"));
  @include component-token("badge", "primary.color.text", design-token("color.neutral.000"));
  @include component-token("badge", "secondary.color.background", design-token("color.neutral.050"));
  @include component-token("badge", "secondary.color.text", design-token("color.primary.800"));
}

// prettier-ignore
.variantSuccess {
  @include component-token("badge", "primary.color.background", design-token("color.positive.600"));
  @include component-token("badge", "primary.color.text", design-token("color.neutral.000"));
  @include component-token("badge", "secondary.color.background", design-token("color.positive.100"));
  @include component-token("badge", "secondary.color.text", design-token("color.primary.800"));
}

// prettier-ignore
.variantWarning {
  @include component-token("badge", "primary.color.background", design-token("color.warning.500"));
  @include component-token("badge", "primary.color.text", design-token("color.neutral.900"));
  @include component-token("badge", "secondary.color.background", design-token("color.warning.300"));
  @include component-token("badge", "secondary.color.text", design-token("color.primary.800"));
}

// prettier-ignore
.variantDanger {
  @include component-token("badge", "primary.color.background", design-token("color.negative.600"));
  @include component-token("badge", "primary.color.text", design-token("color.neutral.000"));
  @include component-token("badge", "secondary.color.background", design-token("color.negative.100"));
  @include component-token("badge", "secondary.color.text", design-token("color.primary.800"));
}
