@use "../styles/common" as *;
@use "../styles/unstyled";

.container {
  @include unstyled.button;
  @include unstyled.link;
  border-radius: design-token("shape.border_radius.md");
  overflow: hidden;
}

button.container:not([disabled]) {
  cursor: pointer;
}

.area {
  @include responsive-prop("card-area", "padding", padding);
  background: component-token("card-area", "background");
  display: flex;
  flex-direction: column;
  min-height: 100%;
  > * {
    flex: 1 0 auto;
  }
}

.variantOutlined,
.variantFlagged {
  border: design-token("shape.border_width.1") solid
    component-token("card", "color.border");
}

.variantFlagged {
  border-left-width: 4px;
}

.variantOutlined {
  @include component-token(
    "card",
    "color.border",
    theme-token("color.neutral.400")
  );
}

.selected {
  @include component-token(
    "card",
    "color.border",
    theme-token("color.primary.500")
  );
}

.disabled {
  @include component-token(
    "card",
    "color.border",
    theme-token("color.neutral.300")
  );
}

.statusDanger {
  @include component-token(
    "card",
    "color.border",
    theme-token("color.negative.500")
  );
}

.statusWarning {
  @include component-token(
    "card",
    "color.border",
    theme-token("color.warning.500")
  );
}

.statusSuccess {
  @include component-token(
    "card",
    "color.border",
    theme-token("color.positive.600")
  );
}
