@use "../styles/common" as *;

.FormLayout {
  display: flex;
  flex-direction: column;
  gap: design-token("space.3");
  padding: design-token("space.3");
  color: design-token("color.primary.800");
}
