@use "../styles/common" as *;

@mixin shadowGradient($direction) {
  background-image: linear-gradient(
    to #{$direction},
    component-token("data-grid", "sticky-shadow-color"),
    transparent
  );
  opacity: component-token("data-grid", "sticky-shadow-opacity");
}

@mixin shadow($insetDirection, $gradientDirection) {
  @include shadowGradient($gradientDirection);
  top: 0;
  #{$insetDirection}: 100%;
  height: 100%;
  width: component-token("data-grid", "sticky-shadow-size");
}
