@use "../styles/common" as *;
@use "../styles/unstyled";

.DataGrid {
  @include component-token(
    "data-grid",
    "header-bg",
    design-token("color.blue.800")
  );
  @include component-token(
    "data-grid",
    "header-text",
    design-token("color.white")
  );

  display: grid;
  grid-template-rows: auto;
  grid-template-areas: component-token("data-grid", "template-areas");
  grid-template-columns: component-token("data-grid", "template-columns");
  border: 1px solid design-token("color.gray.300");
  border-radius: design-token("shape.border_radius.md");
  overflow: auto;
  max-height: 168px;
  position: relative;
}

.columnHeader {
  position: sticky;
  top: 0;
  background: component-token("data-grid", "header-bg");
  color: component-token("data-grid", "header-text");
}

.row {
  display: contents;
}

.cell {
  background: white;
}

.cell {
  z-index: 1;
}
.cell:nth-child(-n + 2) {
  z-index: 2;
  position: sticky;
}
.cell:nth-child(1) {
  left: 0;
}
.cell:nth-child(2) {
  left: 48px;
}

.columnHeader {
  z-index: 3;
  position: sticky;
  top: 0;
}
.columnHeader:nth-child(-n + 2) {
  z-index: 4;
}
.columnHeader:nth-child(1) {
  left: 0;
}
.columnHeader:nth-child(2) {
  left: 48px;
}

.cellFocused {
  box-shadow: inset 0 0 2px red;
}

.columnHeader,
.cell {
  display: inline-flex;
  align-items: center;

  height: 56px;
  padding: 0 design-token("space.2");
  outline: none;

  &:first-child {
    padding-left: design-token("space.5");
  }
  &:nth-child(1) {
    position: sticky;
    left: 0;
  }
  &:nth-child(2) {
    position: sticky;
    left: 48px;
  }
  &:last-child {
    padding-right: design-token("space.5");
  }
}

.expandRowButton {
  @include unstyled.button;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  cursor: pointer;

  &.expanded {
    transform: rotate(90deg);
  }
}

.expandedRowContent {
  position: absolute;
  left: 0;
  top: component-token("data-grid", "expanded-row-position");
  width: component-token("data-grid", "expanded-row-width");
  opacity: component-token("data-grid", "expanded-row-opacity");
  border: 1px solid red;
}

.rowFocused {
  .cell {
    background: blue;
  }
}

.rowHovered {
  .cell {
    background: design-token("color.gray.050");
  }
}

.rowExpanded {
  .cell {
    margin-bottom: component-token("data-grid", "expanded-row-height");
  }
}

.hasRowActions {
  .columnHeader,
  .cell {
    &:last-child {
      padding-left: 0;
      padding-right: design-token("space.2");
    }
  }
}

.hasSelection,
.hasExpansion {
  .columnHeader,
  .cell {
    &:first-child {
      padding-left: design-token("space.2");
      padding-right: design-token("space.1");
    }
    & + * {
      padding-left: 0;
    }
  }
}

.contents {
  display: contents;
}

.headerSecondary {
  @include component-token(
    "data-grid",
    "header-bg",
    design-token("color.gray.050")
  );
  @include component-token(
    "data-grid",
    "header-text",
    design-token("color.blue.800")
  );
}
