@use "../styles/common" as *;

.SortIndicator {
  display: inline-flex;
  color: component-token("data-grid", "sort-icon-color");
}

.arrow {
  transition:
    transform 0.15s ease-out,
    fill 0.15s ease-out;
}

.sorted {
  @include component-token(
    "data-grid",
    "sort-icon-color",
    design-token("color.neutral.000")
  );
}

.onHeaderSecondary {
  @include component-token(
    "data-grid",
    "sort-icon-color",
    design-token("color.neutral.400")
  );
  &.sorted {
    @include component-token(
      "data-grid",
      "sort-icon-color",
      design-token("color.primary.800")
    );
  }
}
