@use "../styles/common" as *;

@mixin base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: design-token("shape.border_radius.md");
  cursor: pointer;

  &:focus {
    box-shadow: design-token("shadow.button");
    outline: none;
  }

  &:disabled {
    pointer-events: none;
  }
}

@mixin variantFilled {
  background-color: component-token("button", "resting.color");
  color: component-token("button", "filled.font.color");

  &:focus {
    background-color: component-token("button", "hover.focus.color");
  }

  &:disabled {
    color: design-token("color.neutral.000");
    background-color: design-token("color.neutral.200");
  }

  &:link {
    text-decoration: none;
  }

  &:not(:disabled):active {
    color: component-token("button", "filled.active.font.color");
    background-color: component-token("button", "active.color");
    &:focus {
      box-shadow: none;
    }
  }

  &:hover:not(:disabled):not(:active) {
    background-color: component-token("button", "hover.focus.color");
    color: component-token("button", "filled.font.color");
  }
}

@mixin variantOutlined {
  background-color: transparent;
  border: design-token("shape.border_width.1") solid
    component-token("button", "resting.color");
  color: component-token("button", "resting.color");

  &:focus {
    border: design-token("shape.border_width.1") solid
      component-token("button", "hover.focus.color");
    color: component-token("button", "hover.focus.color");
  }

  &:disabled {
    color: design-token("color.neutral.300");
    border: design-token("shape.border_width.1") solid
      design-token("color.neutral.300");
  }

  &:link {
    text-decoration: none;
  }

  &:active:not(:disabled) {
    color: component-token("button", "active.color");
    border: design-token("shape.border_width.1") solid
      component-token("button", "active.color");
    &:focus {
      box-shadow: none;
    }
  }

  &:hover:not(:disabled):not(:active) {
    border: design-token("shape.border_width.1") solid
      component-token("button", "hover.focus.color");
    color: component-token("button", "hover.focus.color");
  }
}

@mixin variantLink {
  color: component-token("button", "resting.color");
  background-color: transparent;
  border: design-token("shape.border_width.1") solid transparent;
  text-decoration: underline;

  &:focus {
    border: design-token("shape.border_width.1") solid
      component-token("button", "hover.focus.color");
  }

  &:disabled {
    color: design-token("color.neutral.300");
  }

  &:active:not(:disabled) {
    color: component-token("button", "active.color");
  }

  &:hover:not(:disabled):not(:active) {
    color: component-token("button", "hover.focus.color");
  }
}

@mixin variantText {
  color: component-token("button", "resting.color");
  background-color: transparent;
  border: design-token("shape.border_width.1") solid transparent;

  &:focus {
    border: design-token("shape.border_width.1") solid
      component-token("button", "hover.focus.color");
  }

  &:disabled {
    color: design-token("color.neutral.300");
  }

  &:active:not(:disabled) {
    color: component-token("button", "active.color");
  }

  &:hover:not(:disabled):not(:active) {
    color: component-token("button", "hover.focus.color");
  }
}

// prettier-ignore
@mixin colorPrimary {
  @include component-token("button", "filled.font.color", design-token("color.neutral.000"));
  @include component-token("button", "filled.active.font.color", design-token("color.neutral.000"));
  @include component-token("button", "resting.color", design-token("color.primary.500"));
  @include component-token("button", "hover.focus.color", design-token("color.primary.600"));
  @include component-token("button", "active.color", design-token("color.primary.700"));
}

// prettier-ignore
@mixin colorSecondary {
  @include component-token("button", "filled.font.color", design-token("color.neutral.000"));
  @include component-token("button", "filled.active.font.color", design-token("color.neutral.000"));
  @include component-token("button", "resting.color", design-token("color.secondary.500"));
  @include component-token("button", "hover.focus.color", design-token("color.secondary.600"));
  @include component-token("button", "active.color", design-token("color.secondary.700"));
}

// prettier-ignore
@mixin colorSuccess {
  @include component-token("button", "filled.font.color", design-token("color.primary.800"));
  @include component-token("button", "filled.active.font.color", design-token("color.neutral.000"));
  @include component-token("button", "resting.color", design-token("color.positive.500"));
  @include component-token("button", "hover.focus.color", design-token("color.positive.600"));
  @include component-token("button", "active.color", design-token("color.positive.700"));
}

// prettier-ignore
@mixin colorWarning {
  @include component-token("button", "filled.font.color",design-token("color.primary.800"));
  @include component-token("button", "filled.active.font.color",design-token("color.primary.800"));
  @include component-token("button", "resting.color",design-token("color.negative.500"));
  @include component-token("button", "hover.focus.color",design-token("color.negative.600"));
  @include component-token("button", "active.color",design-token("color.negative.700"));
}

// prettier-ignore
@mixin colorNeutral {
  @include component-token("button", "filled.font.color", design-token("color.neutral.000"));
  @include component-token("button", "filled.active.font.color", design-token("color.neutral.000"));
  @include component-token("button", "resting.color", design-token("color.primary.800"));
  @include component-token("button", "hover.focus.color", design-token("color.neutral.900"));
  @include component-token("button", "active.color", design-token("color.primary.700"));
}

// prettier-ignore
@mixin colorSupport {
  @include component-token("button", "resting.color", design-token("color.primary.800"));
  @include component-token("button", "hover.focus.color", design-token("color.neutral.900"));
  @include component-token("button", "active.color", design-token("color.neutral.700"));
}

// prettier-ignore
@mixin colorInverse {
  @include component-token("button", "resting.color", design-token("color.neutral.000"));
  @include component-token("button", "hover.focus.color", design-token("color.neutral.100"));
  @include component-token("button", "active.color", design-token("color.neutral.200"));
}

// prettier-ignore
@mixin colorBrand {
  @include component-token("button", "filled.font.color", design-token("button.brand.filled.font.color"));
  @include component-token("button", "filled.active.font.color", design-token("button.brand.filled.active.font.color"));
  @include component-token("button", "resting.color", design-token("button.brand.resting.color"));
  @include component-token("button", "hover.focus.color", design-token("button.brand.hover.focus.color"));
  @include component-token("button", "active.color", design-token("button.brand.active.color"));
}
