@use "mixins" as Button;
@use "../styles/common" as c;

.Button {
  @include Button.base;
}

.colorPrimary {
  @include Button.colorPrimary;
}

.colorSecondary {
  @include Button.colorSecondary;
}

.colorSuccess {
  @include Button.colorSuccess;
}

.colorWarning {
  @include Button.colorWarning;
}

.colorNeutral {
  @include Button.colorNeutral;
}

.colorSupport {
  @include Button.colorSupport;
}

.colorInverse {
  @include Button.colorInverse;
}

.variantFilled {
  @include Button.variantFilled;
  padding: c.design-token("space.1.5") c.design-token("space.2");
}

.variantOutlined {
  @include Button.variantOutlined;
}

.variantLink {
  @include Button.variantLink;
}

.variantOutlined,
.variantLink {
  padding: calc(
      #{c.design-token("space.1.5")} - #{c.design-token("shape.border_width.1")}
    )
    calc(
      #{c.design-token("space.2")} - #{c.design-token("shape.border_width.1")}
    );
}

.sizeMd {
  @include c.font-style("button");
}

.sizeSm {
  @include c.font-style("small-button");
}

.sizeSm.variantFilled {
  padding: c.design-token("space.1");
}

.sizeSm.variantOutlined,
.sizeSm.variantLink {
  padding: calc(
    #{c.design-token("space.1")} - #{c.design-token("shape.border_width.1")}
  );
}

.block {
  display: flex;
  width: 100%;
}

.iconAtStart {
  margin-left: c.design-token("space.1");
}

.iconAtEnd {
  margin-right: c.design-token("space.1");
}
