@use "./mixins" as Button;
@import "../styles/common";

.Button {
  @include Button.base;
}

.colorPrimary {
  @include Button.colorPrimary;
}

.colorSecondary {
  @include Button.colorSecondary;
}

.colorSuccess {
  @include Button.colorSuccess;
}

.colorWarning {
  @include Button.colorWarning;
}

.colorNeutral {
  @include Button.colorNeutral;
}

.colorSupport {
  @include Button.colorSupport;
}

.colorInverse {
  @include Button.colorInverse;
}

.variantFilled {
  @include Button.variantFilled;
  padding: var(--ezui-space-1-5) var(--ezui-space-2);
}

.variantOutlined {
  @include Button.variantOutlined;
}

.variantLink {
  @include Button.variantLink;
}

.variantOutlined,
.variantLink {
  padding: calc(#{var(--ezui-space-1-5)} - #{var(--ezui-shape-border-width-1)})
    calc(#{var(--ezui-space-2)} - #{var(--ezui-shape-border-width-1)});
}

.sizeMd {
  @include font-style("button");
}

.sizeSm {
  @include font-style("small-button");
}

.sizeSm.variantFilled {
  padding: var(--ezui-space-1);
}

.sizeSm.variantOutlined,
.sizeSm.variantLink {
  padding: calc(#{var(--ezui-space-1)} - #{var(--ezui-shape-border-width-1)});
}

.block {
  display: flex;
  width: 100%;
}

.iconAtStart {
  margin-left: var(--ezui-space-1);
}

.iconAtEnd {
  margin-right: var(--ezui-space-1);
}
