@use "../styles/common" as *;
@use "../Button/mixins" as Button;

.IconButton {
  @include Button.base;
}

.colorPrimary {
  @include Button.colorPrimary;
}

.colorSecondary {
  @include Button.colorSecondary;
}

.colorSuccess {
  @include Button.colorSuccess;
}

.colorWarning {
  @include Button.colorWarning;
}

.colorNeutral {
  @include Button.colorNeutral;
}

.colorSupport {
  @include Button.colorSupport;
}

.colorInverse {
  @include Button.colorInverse;
}

.variantOutlined {
  padding: calc(
    #{design-token("space.1.5")} - #{design-token("shape.border_width.1")}
  );
  @include Button.variantOutlined;
}

.variantFilled {
  padding: design-token("space.1.5");
  @include Button.variantFilled;
}

.sizeMd {
  @include font-style("button");
}

.sizeSm {
  @include font-style("small-button");
}

.sizeSm.variantFilled {
  padding: design-token("space.1");
}

.sizeSm.variantOutlined {
  padding: calc(
    #{design-token("space.1")} - #{design-token("shape.border_width.1")}
  );
}
